n
rg
tmux
git
stow
fzf
glow
nvim
lua
node
python3
pyright
tsserver
lua-language-server
vscode-css-language-server
vscode-html-language-server
vscode-json-language-server
npm
eslint
pip
flake8
hadolint
shellcheck
proselint
sqlfluff
